﻿@model Patient

@{
    ViewData["Title"] = "Novi pacijent";
}

<h2>Dodajte novog pacijenta</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Patients" asp-action="Create" method="post" onsubmit="Validation()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <select asp-for="Gender" required class="form-control">
                    <option value="M">Muški</option>
                    <option value="F">Ženski</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input type="tel" asp-for="Phone" class="form-control" placeholder="065/123456" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCardboard" class="control-label"></label>
                <input type="text" asp-for="NumberOfCardboard" class="form-control" />
                <span asp-validation-for="NumberOfCardboard" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input type="datetime" asp-for="DateOfCreation" class="form-control" value="@DateTime.Today" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Patients" asp-action="Index">Povratak na listu pacijenata</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}