﻿@model Dental_Care.Data.Entities.PatientEntity
@{
    ViewData["Title"] = "Biranje podataka";
}

<h3>Da li ste sigurni da želite da obrišete pacijenta?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime
        </dt>
        <dd>
            @Model.FirstName
        </dd>
        <dt>
            Prezime
        </dt>
        <dd>
            @Model.LastName
        </dd>
        <dt>
            Datum rođenja
        </dt>
        <dd>
            @Model.DateOfBirth.ToShortDateString()
        </dd>
        <dt>
            Pol
        </dt>
        <dd>
            @ViewBag.Gender
        </dd>
        <dt>
            Telefon
        </dt>
        <dd>
            @Model.Phone
        </dd>
        <dt>
            email
        </dt>
        <dd>
            @Model.Email
        </dd>
        <dt>
            broj kartona
        </dt>
        <dd>
            @Model.NumberOfCardboard
        </dd>
        <dt>
            Datum otvaranja kartona
        </dt>
        <dd>
            @Model.DateOfCreation.ToShortDateString()
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-default" /> |
        <a asp-action="Index">Povratak na listu pacijenata</a>
    </form>
</div>