﻿@model Dental_Care.Data.Entities.PatientEntity
@{
    ViewData["Title"] = "Detalji";
}
<h2>Detalji o pacijentu</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime
        </dt>
        <dd>
            @Model.FirstName
        </dd>
        <dt>
            Prezime
        </dt>
        <dd>
            @Model.LastName
        </dd>
        <dt>
            Datum rođenja
        </dt>
        <dd>
            @Model.DateOfBirth.ToShortDateString()
        </dd>
        <dt>
            Pol
        </dt>
        <dd>
            @ViewBag.Gender
        </dd>
        <dt>
            Telefon
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            email
        </dt>
        <dd>
            @Model.Email
        </dd>
        <dt>
            broj kartona
        </dt>
        <dd>
            @Model.NumberOfCardboard
        </dd>
        <dt>
            Datum otvaranja kartona
        </dt>
        <dd>
            @Model.DateOfCreation.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Promeni</a> |
    <a asp-action="Index">Povratak na listu pacijenata</a>
</div>