﻿@model Patient

@{
    ViewData["Title"] = "Promena podataka o pacijentu";
}

<h2>Promenite podatke o pacijentu</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Patients" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="PatientId" class="control-label"></label>
                <input type="number" asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <select id="select1" asp-for="Gender" required class="form-control">
                    <option id="s1" value="M">Muški</option>
                    <option id="s2" value="F">Ženski</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input type="text" asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfCardboard" class="control-label"></label>
                <input type="text" asp-for="NumberOfCardboard" class="form-control" />
                <span asp-validation-for="NumberOfCardboard" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input type="date" asp-for="DateOfCreation" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Patients" asp-action="Index">Povratak na listu pacijenata</a>
</div>

<script>
    var sM = $("#s1");
    var sF = $("#s2");

    $().ready(function () {

        if (@Model.Gender=="M") {
            s1.attr("selected", "selected");
        }
        else if (@Model.Gender=="F") {
            s2.attr("selected", "selected");
        }
        else {
            s1.attr("selected", "selected");
             }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}