﻿@model IEnumerable<Dental_Care.Models.Patient>
@{
    ViewData["Title"] = "Lista pacijenata";
}
<p>
    <a asp-action="Create">Dodajte novog pacijenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                Datum rođenja
            </th>
            <th>
                Pol
            </th>
            <th>
                Broj telefona
            </th>
            <th>
                Email
            </th>
            <th>
                Broj kartona
            </th>
            <th>
                Datum otvaranja kartona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.NumberOfCardboard
                </td>
                <td>
                    @item.DateOfCreation.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PatientId">Promeni</a> |
                    <a asp-action="Details" asp-route-id="@item.PatientId">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.PatientId">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>