﻿@model Dental_Care.Models.Exam
@{
    ViewData["Title"] = "Dodajte novi pregled";
}
@{
    if (ViewBag.Poruka == null)
    {
        <h2>Dodajte novi pregled</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Ime i prezime pacijenta</label>
                        <select asp-for="PatientId" asp-items="@ViewBag.Names" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfExam" class="control-label"></label>
                        <input type="datetime-local" asp-for="DateOfExam" class="form-control" />
                        <span asp-validation-for="DateOfExam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sačuvaj" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Povratak na spisak pregleda</a>
        </div>
    }
    else
    {
        <h2>@ViewBag.Poruka</h2>

        <div>
            <a asp-action="Create">Povratak na unos novog pregleda</a>
        </div>
        <div>
            <a asp-action="Index">Povratak na spisak pregleda</a>
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}