﻿@model Dental_Care.Models.Exam
@{
    ViewData["Title"] = "Brisanje";
}

<h3>Da li ste sigurni da želite da obrišete pregled?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id pregleda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamId)
        </dd>
        <dt>
            Datum pregleda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfExam)
        </dd>
        <dt>
            Id pacijenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt>
            Ime i prezime pacijenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Obriši" class="btn btn-default" /> |
        <a asp-action="Index">Povratak na listu pregleda</a>
    </form>
</div>