﻿@model Dental_Care.Models.Exam

@{
    ViewData["Title"] = "Detalji o pregledu";
}

<h2>Detalji o pregledu</h2>

<div>  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id pregleda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExamId)
        </dd>
        <dt>
            Datum pregleda
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfExam)
        </dd>
        <dt>
            Id pacijenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt>
            Ime i prezime pacijenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExamId">Promeni</a> |
    <a asp-action="Index">Povratak na listu pregleda</a>
</div>
