﻿@model Exam
@{
    ViewData["Title"] = "Promeni pregled";
}
<h2>Promenite podatke o pregledu</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Exams" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ExamId" class="control-label"></label>
                <input type="number" asp-for="ExamId" class="form-control" />
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ime i prezime pacijenta</label>
                <select asp-for="PatientId" asp-items="@ViewBag.Names" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfExam" class="control-label"></label>
                <input type="datetime-local" asp-for="DateOfExam" class="form-control" />
                <span asp-validation-for="DateOfExam" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Exams" asp-action="Index">Povratak na listu pregleda</a>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}