﻿@using Dental_Care.Controllers
@model IEnumerable<Dental_Care.Models.Exam>

@{
    ViewData["Title"] = "Pregledi";
}

<h2>Spisak svih pregleda</h2>

<p>
    <a asp-action="Create">Dodajte novi pregled</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Broj pregleda
                </th>
                <th>
                    Pacijent
                </th>
                <th>
                    Datum i vreme pregleda
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExamId">Promeni</a> |
                <a asp-action="Delete" asp-route-id="@item.ExamId">Obriši</a> |
                <a asp-action="Details" asp-route-id="@item.ExamId">Detalji</a>
            </td>
        </tr>
}
    </tbody>
</table>